<nav class="navbar navbar-default navbar-fixed-top navbar-edit">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>                        
    </button>
    <a class="navbar-brand" href="#"> <img class="img-responsive busimage-edit" src="./assets/bus1.png"></a>
  </div>
  <div class="collapse navbar-collapse navbar-custom" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="color-custom"><a (click)="router.navigate(['/log-in'])">LOG IN</a></li>
    </ul> 
  </div>
</nav><br>
<br>
<br>
<div class="container background" [ngStyle]="{'background' : 'url(./assets/bus4.JPG)'}">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-xs-12 col-lg-2"></div>
    <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8 row-custom">
      <form #detailForm="ngForm" (ngSubmit)="onSubmit(detailForm)">
       
        <div class="row">
          <div class="col-sm-2 col-md-2 col-xs-12 col-lg-2"></div>
          <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
            <div class="form-group">
              <input type="text" class="form-control margin-pop bk"  placeholder="First Name" name="firstname" [ngStyle]="{'background' : 'url(./assets/Menu_Green.png)'}"
              [(ngModel)]="name" #nameRef="ngModel" required
              [ngClass]="(nameRef.invalid && nameRef.touched) ? 'red' : ''">
              <p  *ngIf="(nameRef.invalid && nameRef.touched)">Name is Required</p>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-xs-12 col-lg-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-md-2 col-xs-12 col-lg-2"></div>
          <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
            <div class="form-group">
              <input type="text" class="form-control margin-pop bk"  placeholder="Last Name" name="lastname" [ngStyle]="{'background' : 'url(./assets/Menu_Green.png)'}"
              [(ngModel)]="lastname" #lastnameRef="ngModel" required
              [ngClass]="(lastnameRef.invalid && lastnameRef.touched) ? 'red' : ''">
              <p *ngIf="(lastnameRef.invalid && lastnameRef.touched)">LastName is Too short</p>
            </div>
          </div>
        </div>         
        <div class="row">
          <div class="col-sm-2 col-md-2 col-xs-12 col-lg-2"></div>
          <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
            <div class="form-group">
              <input type="email" class="form-control margin-pop bk"  placeholder="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required 
              name="email" [ngStyle]="{'background' : 'url(./assets/Company_Green.png)'}"
              [(ngModel)]="email" #emailRef="ngModel" required
              [ngClass]="(emailRef.invalid && emailRef.touched) ? 'red' : ''">
              <p *ngIf="(emailRef.invalid && emailRef.touched)">Email is Required</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-md-2 col-xs-12 col-lg-2"></div>
          <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
            <div class="form-group">
              <input type="password" class="form-control margin-pop bk "  placeholder="Password" name="password" [ngStyle]="{'background' : 'url(./assets/Company_Green.png)'}"
              [(ngModel)]="password" #passwordRef="ngModel" required
              [ngClass]="(passwordRef.invalid && passwordRef.touched) ? 'red' : ''">
              <p *ngIf="(passwordRef.invalid && passwordRef.touched)">password is Required</p>
            </div>
          </div>
        </div>    
        <div class="row">
          <div class="col-sm-2 col-md-2 col-xs-12 col-lg-2"></div>
          <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8 submit">
          <button (click)="mySave()" class="btn button-custom" [disabled]="detailForm.invalid" >Sign up</button>
          <button (click)="router.navigate(['/log-in'])" class="btn button-custom1" >Log in</button>
          </div>
          <div class="col-sm-2 col-md-2 col-xs-12 col-lg-2"></div>
        </div>
      </form>
    </div>
  </div>
  </div>
  <br>
  <footer>
  <div class="foot-fix">
    <div class="container con-fix">
      <div class="row last">
        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
          <ul>
            <li>Privacy Police</li>
            <li>User Agreement</li>
            <li class="last-check">About</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
          <footer> &copy; COPYRIGHT CDDV.ALL RIGHTS RESERVED</footer>
        </div>
      </div>
    </div>
  </div>
</footer>